@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind utilities;

* {
	font-family: 'Poppins', sans-serif;
}

:root {
	--header-height: env(safe-area-inset-top);
	--footer-height: env(safe-area-inset-bottom);
}

body {
	@apply bg-neutral-100;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

header {
	background: rgb(255, 255, 255);
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
}

footer {
	padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
}

@layer utilities {
	.noSelect {
		-webkit-tap-highlight-color: transparent;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.noSelect:focus {
		outline: none !important;
	}

	.icon {
		@apply box-content w-6 h-6 p-1 transition-colors border border-transparent rounded-md cursor-pointer text-neutral-800;
	}

	.icon svg {
		@apply drop-shadow-md;
	}

	.selected {
		@apply shadow-md border-neutral-800;
	}

	.card {
		@apply flex flex-col w-full px-3 py-3 border shadow-md gap-y-4 border-neutral-400 bg-gradient-to-br from-neutral-200 to-neutral-300 rounded-2xl;
	}

	.card-main {
		@apply text-xl font-semibold text-neutral-700 drop-shadow-md;
	}

	.card-sub {
		@apply text-sm text-neutral-500;
	}

	.no-data {
		@apply w-full py-5 mt-2 text-lg font-medium text-center border shadow-sm bg-gradient-to-br from-neutral-200 to-neutral-300 text-neutral-400 border-neutral-300 rounded-xl max-w-screen-lg;
	}

	.label {
		@apply text-lg font-medium text-neutral-600;
	}

	.input {
		@apply w-full px-2 py-1 text-lg font-medium bg-white border rounded-md border-neutral-400 text-neutral-700 outline-neutral-500 placeholder-neutral-400;
	}

	.button {
		@apply px-3 py-1 font-semibold text-white rounded-md shadow-md bg-neutral-700;
	}

	.error {
		@apply !border-2 !border-red-500 !outline-red-500;
	}

	.popup-bg {
		@apply fixed top-0 left-0 z-20 w-screen h-screen bg-black bg-opacity-75;
	}

	.popup-parent {
		@apply absolute top-0 left-0 z-20 flex flex-col items-center justify-center w-screen min-h-screen py-10;
	}

	.popup-fg {
		@apply flex flex-col items-start w-11/12 max-w-md p-3 rounded-lg bg-neutral-100 gap-y-4;
	}

	.installGuide-img {
		@apply w-4/5 ml-2 border-2 rounded-md shadow-md border-neutral-500;
	}

	.link {
		@apply underline text-neutral-500;
	}

	.custom-grid {
		@apply w-full grid grid-cols-1 lg:grid-cols-2 gap-5;
	}
}
