@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Work Sans', sans-serif;
}

:root {
	--header-height: env(safe-area-inset-top);
	--footer-height: env(safe-area-inset-bottom);
}

body {
	@apply bg-neutral-100 overflow-hidden;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

footer {
	padding-bottom: calc(env(safe-area-inset-bottom) + 10px);
}

@layer components {
	.button {
		@apply cursor-pointer px-5 py-2 text-center;
	}

	.button-filled {
		@apply button bg-dark-1 border border-dark-1 transition-all text-white font-medium shadow-md rounded-md;
	}

	.button-outline {
		@apply button border border-dark-2 text-dark-2 transition-all font-medium  rounded-md;
	}

	.icon {
		@apply text-dark-1 w-8 transition-all p-0.5 rounded-md cursor-pointer;
	}

	.icon:active {
		@apply scale-125 !bg-transparent;
	}

	.card {
		@apply bg-[rgb(248,248,248)] rounded-xl p-3 space-y-4 border border-neutral-300;
	}

	.card.hover {
		@apply cursor-pointer transition-all;
	}

	.card.hover:active {
		@apply brightness-90;
	}

	.card-sub {
		@apply text-dark-2 text-xs;
	}

	.card-main {
		@apply text-dark-1 text-xl font-medium;
	}

	.form-title {
		@apply text-xl mb-5 pt-5 pl-5  text-dark-1;
	}

	.form-label {
		@apply text-lg text-dark-1 font-medium pl-5;
	}

	.outline-container {
		@apply border-y border-neutral-400 w-full bg-popup;
	}

	.outline-hover {
		@apply transition-all bg-popup;
	}

	.outline-hover:active {
		@apply !brightness-90;
	}

	.outline-spacing {
		@apply px-5 py-2;
	}

	.tag {
		@apply py-1 px-3 bg-neutral-300 text-neutral-500 inline rounded-md;
	}

	input,
	textarea,
	select {
		@apply outline-none bg-transparent text-dark-1 placeholder-neutral-500;
	}

	@media (hover: hover) {
		.button-filled:hover,
		.button-outline:hover {
			@apply shadow-lg scale-[101%];
		}

		.icon:hover {
			@apply bg-neutral-100;
		}

		.outline-hover:hover {
			@apply brightness-95;
		}

		.card.hover:hover {
			@apply brightness-95;
		}

		.days-checkbox:hover {
			@apply brightness-95;
		}
	}
}

@layer utilities {
	.flex-space-between {
		@apply flex items-center justify-between w-full;
	}

	.error {
		@apply border-red-600;
	}
}

.noSelect {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noSelect:focus {
	outline: none !important;
}

.no-data {
	@apply card !bg-neutral-200 text-neutral-500 text-center border-none max-w-screen-lg mx-auto;
}

.label {
	@apply text-lg font-medium text-neutral-600;
}

.installGuide-img {
	@apply mb-7 border-2 rounded-md border-neutral-500;
}

.custom-grid {
	@apply w-full grid grid-cols-1 lg:grid-cols-2 gap-3;
}
